/***
	Write your CSS structure here.
***/
.clear {
	clear: both;
}
.margin-bottom {
	margin-bottom: 10px;
}
.article_list_widget {
	list-style-type: none;
	margin: 10px 0;
}
.article_list_widget li  {
	/*overflow: auto;*/
	/*height: 200px;*/
	line-height: 120%;
	margin-bottom: 20px;
}
.article_list_widget .img-outer {
 display: block;
 float: left;
 margin-right: 20px;

}
.article_list_widget .img-outer img {
	height: 125px;
}
.article_list_widget .text-outer {
	float: left;
	position: relative;
	width: 70%;
}
.article_list_widget h3 {
	border-bottom: none;
	margin-top: 0;
	margin-bottom: 0;
}
.article_list_widget h3 > a {
	color: #444;
}
 .article_list_widget .text-outer .author{
	/*position: absolute;
	right: -70px;
	top: 30px;*/
	float:right;
}


body blockquote {

font-family: Georgia, serif;
font-size: 14px;
font-style: italic;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #444;
}
body blockquote .quotetex {
	/*background: #EEE;*/
	height: 20px;
	padding: 15px;
	font-size: 0.9em;
}

blockquote:before {
display: block;
padding-left: 00px;
content: "\201C";
font-size: 60px;
position: absolute;
left: 30px;
top: -10px;
color: #7a7a7a;
}

 blockquote:after { 
 	content: "\201D"; 
 	color: #7a7a7a;
 	font-size: 60px;
 	position: absolute;
 	right: 30px;
 	top: -10px;
}

.row-fluid .span4  {
	width: 48%;
}
.row-fluid .span3 {
	width: 31%;
}


body .home-container h2{
	margin: 30px 0 10px 0;
	position: relative;
	color: #d33502;
}
body .home-container h2 span.more {
	font-weight: normal;
	position: absolute;
	right: 0;
	font-size: 14px;
	
}
body .home-container h2 span.more a {
	color: #41a30d;
}


.ad {
	margin: 20px 0 0 0;
}

#copyright-footer-wrapper {
	text-align: center;
}
#copyright-footer #copyright-footer-left {
	float: none;
}
#footer-inner-wrapper .menu li.menu-item {
	display: inline;
	/*float: left;*/
}
#footer-inner-wrapper .menu li .sub-menu {
	margin-left: 10px;
}
#footer-inner-wrapper .menu li .sub-menu li {
	margin 0 10px;
}
.span-data {
	margin: 10px 0;
}
.span-data h3 {
	font-size: 14px;
}
.data-container .row-fluid [class*="span"] {
	margin: 3px 5px 3px 0;
}
.sidebar.span4 {
	width: 31%;
}


.sidebar .tab-content .tab-pane {
	padding: 10px 5px;
}

.tab-content {
	border: 1px solid #e5e5e5;
}
.tab-content  ul li {
	list-style-type: square;
	line-height: 250%;
	/*display: inline;*/
	/*overflow: auto;*/
}
body {
	font-size: 14px;
}

.sidebar >  ul.nav-tabs
{
	margin-top: 20px;
}

.sidebar>li, .sidebar ul>li {
	list-style-type: square;
	list-style-position: inside;
}
.sidebar .nav-tabs>li {
	list-style-type: none;
}
#site-nav a {
	font-size: 16px;
}
.wpp-list {
	margin-left: 10px;
}

 .sidebar .list {
	margin-left: 17px;
}

#recentcomments 
{
	padding-left: 17px;
	border: 1px solid #e5e5e5;
}
#site-wrapper #menu-main > .current-menu-item > a {
	background: #d33502;
}

footer .container {
	padding: 10px 0;
}
footer .container input[type="email"] {
	border: 0;
	border-radius: 0;
	padding: 10px 5;
	height: 40px;
}
footer .container input[type="submit"] {
	border: 0;
	border-radius: 0;
	padding: 10px 5;
	height: 40px;
	background: #d33502;
}
footer .span4 {
	width: 292px;
}
footer .span4.wx  {
	text-align: center;
}
footer .span4 h4 {
	color: #FFF;
}
footer .span4.menu ul li  {
	margin: 10px 0 0 15px;
}
#copyright-footer-left a {
	color: #d3d3d3;
}

.single-content p{
	line-height: 200%;
	margin: 20px 0;
}