/***
	Write your CSS structure here.
***/
.clear {
	clear: both;
}
.margin-bottom {
	margin-bottom: 10px;
}
.article_list_widget {
	list-style-type: none;
	margin: 10px 0;
}
.article_list_widget li  {
	/*overflow: auto;*/
	/*height: 200px;*/
	line-height: 120%;
}
.article_list_widget .img-outer {
 display: block;
 float: left;
 margin-right: 10px;
}
.article_list_widget .text-outer {
	float: left;
}
.article_list_widget h3 {
	border-bottom: none;

}


body blockquote {

font-family: Georgia, serif;
font-size: 14px;
font-style: italic;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
body blockquote .quotetex {
	font-size: 1.5em;
	/*background: #EEE;*/
	height: 20px;
	padding: 15px;
	font-size: 1.2em;
}

blockquote:before {
display: block;
padding-left: 00px;
content: "\201C";
font-size: 60px;
position: absolute;
left: 30px;
top: -10px;
color: #7a7a7a;
}

 blockquote:after { 
 	content: "\201D"; 
 	color: #7a7a7a;
 	font-size: 60px;
 	position: absolute;
 	right: 30px;
 	top: -10px;
}

.row-fluid .span4  {
	width: 48%;
}
.row-fluid .span3 {
	width: 31%;
}


body .home-container h2{
	margin: 30px 0 10px 0;
}

.ad {
	margin: 20px 0 0 0;
}

#copyright-footer-wrapper {
	text-align: center;
}
#copyright-footer #copyright-footer-left {
	float: none;
}
#footer-inner-wrapper .menu li.menu-item {
	display: inline;
	/*float: left;*/
}
#footer-inner-wrapper .menu li .sub-menu {
	margin-left: 10px;
}
#footer-inner-wrapper .menu li .sub-menu li {
	margin 0 10px;
}
.span-data {
	margin: 10px 0;
}
.span-data h3 {
	font-size: 14px;
}